<h1>$ingredient.getIngredientName()</h1>
#if($recipes.size() > 0)
  #foreach($recipe in $recipes)
    <p><a href="/recipe/$recipe.getRecipeId()">$recipe.getRecipeName()</a></p>
  #end
#else
#end
<form action="/ingredient/$ingredient.getId()/delete" method="post">
  <button type="submit" id="deleteIngredient" name="deleteIngredient" class="btn btn-danger">Delete this Ingredient</button>
</form>
<br>
<br>
<a href="/">Home</a>
